account:
  username: "my_username"
  password: "my_password"
  apiKey: "my_apikey"

connection:
  hostname: "activetick1.activetick.com"
  port: 443

collector:
  url: http://localhost:18081/1.0/trade

logging:
  file: "log/publisher_log.log"
  level: "INFO"
