alembic==0.8.9
click==6.6
clickclick==1.2.1
connexion==1.0.129
Flask==0.11.1
Flask-Migrate==2.0.2
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
itsdangerous==0.24
Jinja2==2.8
jsonschema==2.5.1
Mako==1.0.6
MarkupSafe==0.23
PyMySQL==0.7.9
python-editor==1.0.3
PyYAML==3.12
requests==2.12.4
six==1.10.0
SQLAlchemy==1.1.4
strict-rfc3339==0.7
swagger-spec-validator==2.0.2
uWSGI==2.0.14
Werkzeug==0.11.11
